:root {
   --primary-color: #d4b483;
   --secondary-color: #48a9a6;
   --accent-color-1: #e4dfda;
   --accent-color-2: #c1666b;
   --padding: 30px; 
} 
body {
    width: 840px;
    margin: 0 auto;
}
nav {
   /* background-color:var(--primary-color);*/
    padding: var(--padding);
    color: var(--secondary-color); 
}

h2 {
    color: var(--accent-color-2);
    padding: 1rem;
}
.history h2 {
    grid-column: 1/3;
    text-align: center;
    font-size: 2.5rem;
    font-family: Roboto
}

a {
    text-decoration: none; /* remove the underline under the footer media links */
    color: var(--accent-color-2);
}

main {
    width: 840px; 
    
}
.hero {
    position: relative;
}  
 
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    text-align: center; 
    color: var(--accent-color-1);
    font-size: 3rem;
    font-weight: 600;
    font-style: oblique;
    font-family: Roboto; /* How to put in the chosen font*/
    position: absolute;
    padding: 1rem;
    left: 0;
    right: 0;
    top: 10%;
}

article {
    background-color: rgb(0 0 0 /50%);
    /*border: 1px red solid;  used to see the box actually move*/
    display: block;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 110px;
    top:40%;
    position: absolute;
}  

article p {
    color: var(--accent-color-1);
} 
.hero article img {
    width: 25%;
    float: right; 
    top: 0.5%;
    bottom: 0.5%;
}
p {
    color: black; 
    text-align: center;
    padding: 1rem;
}
header {
    display: grid;
    margin: 1rem auto;
    grid-template-columns:  120px 1fr;
    grid-area: center;
    border-bottom: 2px solid var(--accent-color-2);
    max-width: none;
}
header img {
    display: flex;
    justify-self: flex-start;
    width: 140px;  
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
}
/*** Index Home Page***/

.hero a {
    position: absolute;
    top: 60%;
    width: 120px;
    left: 80%;
    right: 0;
    background-color:navy;
    padding: 1rem;
    margin: 0 auto;
    color: white;
    border-radius: 10px;
}

.travel {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 1rem;
    background-color: var(--secondary-color);
    margin: auto;
}

.travel img{
    width: 70%;
}
.travel p {
    font-size: 20px;
    padding: 1rem;
}

.newsletter  {
    background-color: azure;

}
/***End of Home Index Page***/
/*** Trips Page ***/

.options {
    display:grid;
    grid-template-columns: 3fr 3fr 3fr;
    background-color: var(--secondary-color);
    padding: 5px;
    
    
}

table {
    border: 6px solid var(--secondary-color);
    border-collapse: collapse;
    font-family: Roboto;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 1px;
    width: 700px;
    height: 120px;
    margin: 0 auto;
    background-color: var(--primary-color);

}
      
caption {
    caption-side: top;
    padding: 10px;
    font-weight: bold;
    font-size: 2rem;
    font-family: Roboto;
}
th,td,tr {
    border:2px solid black;
}      
      
/*** End of Trip Page ***/
/*** Contact Us Page ***/
.employee {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: inherit;
    padding: 5%;
    margin: 1rem auto ;
    border:3px solid var(--primary-color);
    background-color: lightcyan;  
}
.employee h1 {
    text-align: center; 
    color: var(--accent-color-2);
    font-size: 4rem;
    font-weight: 600;
    margin: 5%;
    padding: var(--padding);
}
.employee figure {
    padding: 1rem;
    margin: 10px;
}
.employee figure img {
    width: 100%;
    margin:10px;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: lightcyan;
    border:3px solid var(--primary-color);
    margin:1%;
}
.contact h2 {
    grid-column: 1/3;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    font-style: oblique;
    font-size: 2.5rem;
    font-family: Roboto
    
}
.contact p {
    font-size: 1.5rem;
    font-family: Roboto
}
.map {
    width: 30%; /* why won't the map shrink*/
    height: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
}
h3 {
    text-align: center;
    padding: 1rem;
    margin: 1rem auto;
    font-style: oblique;
    color: var(--accent-color-2);
    font-size: 2.5rem;
    font-family: Roboto
}
form {
    width: 500px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0,0, 0.6);
    border-radius: 0.5rem;
    background-color: azure;
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0,0, 0.2);
    padding: 1rem;
}
label, input, button, textarea {
    font-family: Roboto,Merriweather, sans-serif;
}
legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}
button {
    margin: 1rem;
    background-color: navy;
    color: whitesmoke;
    border-radius: 0.5rem;
    border: none;
    padding: 0.75rem;
    font-size: 1.3rem;
    font-weight:400;
}
button:hover {
    background-color: orangered;
}
.form-lines {
    display: grid;
    align-items: center;
}
input, textarea {
    padding: 0.5rem;
    font-size: 1.2em;
}

/* end of Contact Us page */

.history  { /* Can't get the history to go into the center between the texts if I mess with one it messes with the other h2*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto;
}
.adventure h2 { /* The h2 need to be bigger*/
    text-align: center;
    padding: 1rem;
    margin: 1rem auto;
    font-size: 2.5rem;
    font-family: Roboto

}
figcaption {
    text-align: center;  
}
.figure_flex {
    display: flex;
}
figure img {
    width: 100%;
}
figure {
    padding: 0;
    margin: 10px;
}
footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.sociallink {
    display: flex;
    justify-content: flex-end; /*too close together need more spacing nothing works*/
    padding: 0;
    margin: 10px;
}

 
