:root {
   --primary-color: #d4b483;
   --secondary-color: #48a9a6;
   --accent-color-1: #e4dfda;
   --accent-color-2: #c1666b;
   --padding: 30px;
}

nav {
   /* background-color:var(--primary-color);*/
    padding: var(--padding);
    color: var(--secondary-color); 
    width: 200%; 
}

h2 {
    color: var(--accent-color-2);
    padding: 1rem;
}

a {
    text-decoration: none; /* remove the underline under the footer media links */
}

main {
    max-width: 840px;
}
.hero {
    position: relative;
}  
 
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    text-align: center; 
    color: var(--accent-color-1);
    font-size: 40px;
    position: absolute;
    padding: 1rem;
    left: 0;
    right: 0;
    top: 10%;
}

article {
    background-color: rgb(0 0 0 /50%);
    /*border: 1px red solid;  used to see the box actually move*/
    display: block;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 110px;
    top:40%;
    position: absolute;
}  

article p {
    color: var(--accent-color-1);
} 
.hero article img {
    width: 25%;
    float: right; 
    top: 0.5%;
    bottom: 0.5%;
}

p {
    color: black; /* all the other text turns same color in the other paragraphs*/
    text-align: center;
    padding: 1rem;
}



